* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Comfortaa', cursive;
    font-family: 'Merriweather', serif;
}


header h1 {
    background-color: #2d3945;
    color: white;
    text-transform: uppercase;
    padding: 5% 0;
    width: 100vw;
}
header h1, h2, header p {
    text-align: center;
}
header h2 {
    color: #2d3945;
    margin-top: 30px;
}
header p {
    display: flex;
    color: #9ca4ac;
    justify-content: center;
    padding: 10px;
    padding-bottom: 23px;
    margin: 0 20px;
    border-bottom: 3px solid black;
}
hr {
    margin: 3px 20px;
    border: 1px solid black;
}
.hr2 {
    margin-bottom: 22px;
    width: 90%;
}


/* -------Forms --------- */


fieldset:first-child{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}
.first-col, .second-col {
    border: 0;
}
.second-col label {
    margin-left: 5px;
}
fieldset:last-child {
    background-color: beige;
}

.titles {
    font-size: 20px;
    font-weight: bold;
    color: #2d3945;
}
#zip {
    width: 25%;
}

.blockk {
    display: flex;
    flex-direction: column;
}

/* --------input--------- */

input[type="text"],
input[type="email"],
input[type="tel"],
select{
    background-color: #eff0f1;
    border-color: #eff0f1;
    height: 45px;
    border-radius: 5px;
    margin: 6px 0 13px;
    max-width: 700px;
} 
input[type="checkbox"] {
    margin-bottom: 20px;
}
input[type="radio"] {
    margin-top: 15px;
}
input, label {
    color: #9ca4ac;
}



/* -------Focus------ */


input:focus {
    background-color: beige;
    color: black;
    transition-duration: 1s;
}

textarea:focus {
    background-color: white;
    transition-duration: 1s;
}
select:focus {
    background-color: beige;
    transition-duration: 1s;
}
:focus {
    outline: 5px auto rgb(5, 138, 145);
    border-radius: 3px;

    transform: scale(1.05);
}




.newsp {
    text-align: left;
    color: #5e6770;
    margin-top: 10px;
}

.txtar {
    margin-top: 20px;
}

textarea {
    resize: none;
    width: 100%;
    background-color: #eff0f1;
    border-radius: 5px;
    border: 0;
    margin-top: 15px;
    padding: 10px;
}

button {
    background-color: #4ebbb5;
    color: white;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
    border: 0;
    margin-top: 15px;
    cursor: pointer;
    width: 100%;
}

footer p {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 70px;
    color: #9ca4ac;
    font-weight: 100;
}




/* media ---------- */




@media screen and (min-width: 768px) {

    header h2, header p, section{
        margin: 0 25%;
    }
    hr {
        margin: 3px 25%;
    }
   .hr2 {
    margin: 20px 0;
    width: 100%;
   }
    header h2 {
        margin-top: 30px;
    }
    .titles {
        margin: 25px 0;
    }

    
    .blockk {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select {

        flex-basis: 63%;
    }
    #zip {
        flex-basis: calc(63%/2);
    }
 
    
}